//
//  Extensions-Ideal.xcconfig
//  Hammerspoon
//
//  Created by Chris Jones on 31/10/2021.
//  Copyright © 2021 Hammerspoon. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Extensions-Base.xcconfig"

// Add -Weverything to warning flags
WARNING_CFLAGS = -Weverything -Wno-unknown-warning-option -Wno-quoted-include-in-framework-header -Wno-implicit-void-ptr-cast -Wno-jump-misses-init -Wno-implicit-int-enum-cast -Wno-implicit-int-float-conversion -Wno-extra-semi-stmt $(inherited)

// Treat warnings as errors
GCC_TREAT_WARNINGS_AS_ERRORS = YES
